@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(113, 175, 251);
  text-decoration: none;
}

header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(25, 89, 229);
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 600;
  display: flex;
  justify-content: center;
  padding: 30px 10%;
}

p,
li {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  width: 15%;
  border-radius: 10px;
}

@media screen and (max-width:560px) {
  .nav_links li {
    display:inline-block;
    padding:0px 5px;
  }

  .profile-image {
    display:block;
    width: 30%;
  }

  p {
    padding: 40px;
  }
}